---
layout: default
title: Escophele Phele
---

{% for post in paginator.posts %}
  <div class="post">

    <p class="date">{{ post.date | date: '%Y &middot; %-m &middot; %-d' }}</p>

    <h3><a href="{{ post.url }}" title="Permalink">{{ post.title }}</a></h3>

    {{ post.content }}

  </div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="nav">

   {% if paginator.previous_page %}
      <a class="prev" href="{{ paginator.previous_page_path }}">Newer posts</a>
   {% endif %}
   {% if paginator.next_page %}
      <a class="next" href="{{ paginator.next_page_path }}">Older posts</a>
   {% endif %}

</div>
{% endif %}
