---
layout: default
title: Escophele Phele
---

{% for post in paginator.posts %}
<div class="post">   
   <h2><a href="{{ post.url }}" title="Permalink">{{ post.date | date: '%Y &middot; %-m &middot; %-d' }}</a></h2>
   {{ post.content }}
</div>
{% endfor %}

{% if paginator.total_pages > 1 %}
<div class="nav">

   {% if paginator.previous_page %}
      <a class="prev" href="{{ paginator.previous_page_path }}">&laquo; Newer posts</a>
   {% endif %}
   {% if paginator.next_page %}
      <a class="next" href="{{ paginator.next_page_path }}">Older posts &raquo;</a>
   {% endif %}

</div>
{% endif %}

