*
{ padding:0; margin:0; border:0; }

body
{ font:15px/25px georgia; }

h1
{ font-weight:normal; font-size:25px; font-variant:small-caps; letter-spacing:2px; margin-bottom:25px; }

h2
{ font-weight:normal; font-size:16px; text-transform:uppercase; }

img
{ margin:15px 0; }

a
{ text-decoration:none; color:black; }

.wrapper
{ position:relative; width:1225px; }

.column
{ float:left; width:275px; padding:25px 0 25px 25px; }

.blargh
{ }

.post
{ margin-bottom:50px; }

.post p
{ text-indent:25px; }

.post p:first-of-type:first-letter
{ font-size:50px; display:inline-block; float:left; line-height:40px; padding:5px 5px 0 0; }

.post h2
{ }

.post img
{ text-indent:0; }

.post p:nth-of-type(1)
{ text-indent:0; }   

.post-nav
{ font-weight:normal; font-size:16px; text-transform:uppercase; padding-bottom:50px; } 

.books
{ }

.books img
{ margin:0; padding-bottom:15px; vertical-align:top; }

.books h2
{ }

.the-end
{ clear:both; border-top:1px dotted black; text-align:center; padding:100px 0 125px; margin:0 25px; }

.the-end h1
{ font-size:50px; }

@media only screen and ( max-width:600px ) 
{     

   body
   { font:18px/28px georgia; }

   img
   { margin-bottom:0; width:100%; max-width:350px; }

   h1
   { font-size:30px; }

   h2
   { font-size:20px; }     

   .wrapper
   { width:450px; margin:auto; }

   .column
   { width:350px; padding:25px 25px 75px; border-bottom:1px dotted black; margin:0 auto; float:none; position:relative; }    

   .blargh
   { padding-bottom:25px; } 

   .post-nav
   { margin-bottom:0; font-size:20px; }

   .post p:first-of-type:first-letter
   { font-size:56px; line-height:50px; }     

   .books img
   { width:auto; }

   .the-end
   { width:100%; max-width:400px; box-sizing:border-box; padding:100px 25px 150px; margin:0 auto; border:0; }

   .the-end h1
   { font-size:56px; }     

}