<!doctype html>

<html>

<head>

  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css" />
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="icon" href="/images/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Alike+Angular" rel="stylesheet">

</head>

<body>

  <div class="banner">
    <img id="not-so-high" src="/images/not-so-high.jpg" />
    <h1><a href="/">Escophele Phele</a></h1>
    <p>I write epic fantasy and talk about writing. Watch me make magic!</p>
    <p>Say <a href="mailto:hey@escophele.com" title="Email me">hey@escophele.com</a>.</p>
  </div>

  <div class="aside">
    <p>Home</p>
    <p>Blog</p>
    <p>Books</p>
    <p>About</p>
    <p>Contact</p>
  </div>

  <div class="main">
    {{ content }}
  </div>


</body>

</html>
