<!doctype html>

<html>

<head>

  <meta charset="utf-8" />
  <title>
    {% if page.url == "/index.html" %}
      {{ page.title }}
    {% else %}
      {{ page.title }} &middot; Escophele Phele
    {% endif %}
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css" />
  <link rel="shortcut icon" href="/images/favicon.ico">
  <link rel="icon" href="/images/favicon.png">
  <link href="https://fonts.googleapis.com/css?family=Alike+Angular" rel="stylesheet">

</head>

<body>

  <div class="wrapper">

    <div class="column banner">
      <img id="not-so-high" src="/images/not-so-high.jpg" />
      <h1><a href="/" title="Home">Escophele Phele</a></h1>
      <p>I write epic fantasy and talk about writing. Watch me make magic!</p>
      <p>Say <a href="mailto:hey@escophele.com">hey@escophele.com</a>.</p>
    </div>

    <div class="column aside">
      <h2>The Latest</h2>
      <p>Big news! First book's out. <a href="">Buy it here</a>.<br>
      <img src="http://placehold.it/220x300"></p>
      <p>Book 2: 35%</p>
    </div>

    <div class="column main">
      {{ content }}
    </div>

  </div>

</body>

</html>
