<!doctype html>

<html>

<head>
  
  <meta charset="utf-8" />
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css" />

</head>

<body>

  <div class="wrapper">

<div class="lump">

    <div class="column escophele">
      <h1>Escophele Bee</h1>
      <p>Epic fantasy writer. Watch me make magic!</p>
      <p><img src="http://placehold.it/275x275"></p>
    </div>

    <div class="column news">
      <h1>Latest News</h1> 
      <p>Book 1 second draft about a quarter done.</p>
    </div>    

</div>

<div class="lump">

    <div class="column blargh">
      <h1>Le Blargh</h1>
      {{ content }}
      <div class="post-nav">
        <a href="archive/">Archive &raquo;</a>
      </div>
    </div>

    <div class="column books">

      <h1>My Books</h1>     

      <p><img src="http://placehold.it/50x75"> <img src="http://placehold.it/50x75"> <img src="http://placehold.it/50x75"> <img src="http://placehold.it/50x75"> <img src="http://placehold.it/50x75"></p>      
      <h2>The Cedarque Treasure Hunt</h2>     
      <p>First, the Map</p>     
      <p>Second, the Riddle</p>
      <p>Third, the Gate</p>
      <p>Fourth, the Key</p>
      <p>Fifth and Final, the Treasure</p>
      <br /><br />
      
      <p><img src="http://placehold.it/50x75"> <img src="http://placehold.it/50x75"> <img src="http://placehold.it/50x75"></p>
      <h2>Almagest</h2>
      <p>Stars and Light and Winged Things</p>
      <p>Dust of Asters Breaking Free</p>
      <p>Almagest</p>
      <br /><br />
      
      <p><img src="http://placehold.it/50x75"></p>
      <h2>Of Serafina</h2>

    </div>        

    <div class="column newsletter">
      <h1>Your Ideas Are Intriguing to Me and I Wish to Subscribe to Your Newsletter</h1>
      <p>Say <a href="mailto:hey@escophele.com">hey@escophele.com</a>.</p>
    </div>

</div>    

    <div class="the-end">
      <h1>The End</h1>
    </div>

  </div>
  
  {% include analytics.html %}

</body>

</html>
